.iframe-container {
    width: 100%;
    overflow: hidden;
}

.embed-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
